.gold-token {
    color: #BBA14F;
}
.heart-red {
    color: #ff0000;
}
.bag-brown {
    color: #7b602f
}
.fairy-ocarina {
    color: #d2b27c
}
.map-brown {
    color: #c8c891
}
.gorons-bracelet {
    color: #f5b118
}
